* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

img {
    width: 40px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ======================= 
         Header
========================= */

header {
    position: relative;
    background-color: #fff;
    height: 100px;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.background-header {
    background-color: #fff;
    height: 100px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

header .navbar {
    background-color: #fff !important;
}

header .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

header .navbar-brand img {
    width: 40px;
}

header .navbar-brand h1 {
    width: 20px;
    font-size: 12px;
    color: #1f1f1f;
    flex-direction: column;
    margin-top: 10px;
}


.top-header {
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .top-header {
        flex-direction: column;
    }
}

header .navbar-brand h1 span {
    color: #f1784c;
    font-size: 12px;
    display: block;
}

header .track-delivery {
    color: #1f1f1f;
    margin-right: 50px;
}

header .track-delivery i {
    font-size: 14px;
    margin-left: 7px;
}

header form {
    background: rgba(248, 249, 250);
    width: 400px;
    border-radius: 10px;
    margin-right: 50px;
}

@media (max-width: 1029px) {
    header form {
        width: 300px;
    }
}

@media (max-width: 991px) {
    header form {
        width: 100%;
    }
}


header form input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 20px;
    width: 90%;
}

header ul .heart {
    margin-top: 10px;
    margin-right: 20px;
}

header ul .cart {
    display: flex;
    margin-right: 25px;
    position: relative;
}

header ul .cart::before {
    content: "3";
    width: 20px;
    height: 20px;
    background-color: #7af37a;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: -5%;
}

@media (max-width: 991px) {
    header ul .cart::before {
        top: 15%;
        left: -2%;
    }
}

header ul .cart i {
    margin-top: 15px;
}

header ul .cart p {
    width: 70px;
    font-size: 14px;
    line-height: 1.2;
    margin-left: 20px;
}

header ul .cart p span {
    display: block;
    color: #f1784c;
}

header ul .cart-shown {
    font-size: 15px;
    padding: 5px 8px;
    transition: all .3s ease;
}

header ul .cart-shown:hover {
    background-color: #99999959;
}

header ul .cart-shown a {
    color: #1f1f1f;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul .cart-shown a i {
    font-size: 12px;
    color: #2c8f2c;
}

.dropdown-toggle::after {
    margin-top: 15px;
}

.profile img {
    border-radius: 100%;
    width: 30px;
    margin-right: 10px;
}

.profile a {
    color: #1f1f1f;
}

/* Bottom Header */

.header-bottom {
    background-color: #fff;
    border-top: 1px solid #f8f9fa;
}

@media (max-width: 991px) {
    .header-bottom {
        padding-bottom: 20px;
    }
}

.header-bottom .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .header-bottom .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-bottom .nav .category {
        margin-bottom: -20px;
    }
}

.header-bottom .nav .category ul {
    margin-right: 10px;
}

.header-bottom .nav .category ul li a {
    color: #1f1f1f;
}

.header-bottom .nav .category ul li a i {
    color: #3ab43a;
    font-size: 18px;
    margin-right: 10px;
}

.header-bottom .nav ul.menu li {
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
}

@media (max-width: 660px) {
    .header-bottom .nav ul.menu li {
        padding: 5px;
    }
}

@media (max-width: 1029px) {
    .header-bottom .nav ul.menu li {
        margin-right: 10px;
    }
}

.header-bottom .nav ul.menu li:last-child {
    margin-right: 0px;
}

.header-bottom .nav ul.menu li a {
    color: #1f1f1f;
    text-transform: capitalize;
}

.header-bottom .nav .gift-btn {
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 13px;
    background-color: #e6501a;
    color: #fff;
    transition: all 0.3s;
}

.header-bottom .nav .gift-btn:hover {
    background-color: #cc4b1c;
}

/* dropdown-menu */

.dropdown-menu .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #f8f9fa solid 1px;
}

.dropdown-menu .dropdown-item .price {
    color: #f1784c;
}

.category ul .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #f8f9fa;

}

.category ul .dropdown-menu .dropdown-item div {
    margin-right: 40px;
}

.category ul .dropdown-menu .dropdown-item div img {
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
}

.category ul .dropdown-menu .dropdown-item h3 {
    font-size: 16px;
}

/* ======================= 
         hero
========================= */
.hero .sliders .singale-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero .sliders .singale-slide .content {
    padding: 120px 100px;
    color: #fff;
    width: 50%;
}

@media (max-width: 991px) {
    .hero .sliders .singale-slide .content {
        padding-top: 200px;
        width: 80%;
    }
}

@media (max-width: 625px) {
    .hero .sliders .singale-slide .content {
        padding-top: 210px;
        width: 100%;
    }
}

.hero .sliders .singale-slide .content h4 {
    font-size: 15px;
    color: #7af37a;
    letter-spacing: 4px;
}

.hero .sliders .singale-slide .content h1 {
    letter-spacing: 3px;
    line-height: 1.2;
    font-size: 50px;
}

.hero .sliders .singale-slide .content h1 span {
    animation: zoomIn 5s ease-in infinite;
}

.hero .sliders .singale-slide .content a {
    background-color: #3ab43a;
    color: #fff;
    width: 45%;
    padding: 10px 30px;
    padding-right: 8px;
    margin-top: 30px;
    display: block;
    font-size: 15px;
    border-radius: 25px;
}

@media (max-width: 530px) {
    .hero .sliders .singale-slide .content a {
        width: 100%;
    }
}

.hero .sliders .singale-slide .content a i {
    float: right;
    margin-top: -5px;
    background-color: #fff;
    color: #1f1f1f;
    padding: 10px;
    border-radius: 100%;
}

.hero .sliders .owl-dots {
    position: absolute;
    bottom: 100px;
    left: 20%;
}

.hero .sliders .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .5s;
}

.hero .sliders .owl-dots .active {
    background-color: #3ab43a;
}

.hero .sliders .owl-nav {
    position: absolute;
    top: 70%;
    width: 100%;
    transform: translateY(-50px);
}

.hero .sliders .owl-nav .owl-prev i,
.hero .sliders .owl-nav .owl-next i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: inline-block;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 1;
    transition: all .3s;
}

.hero .sliders .owl-nav .owl-prev i {
    position: absolute;
    left: 35px;
}

.hero .sliders .owl-nav .owl-next i {
    position: absolute;
    right: 35px;
}

.hero .sliders .owl-nav .owl-prev i:hover,
.hero .sliders .owl-nav .owl-next i:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

/* ======================= 
         features
========================= */

.features {
    margin-bottom: 10px;
}

.features .row {
    padding: 50px;
    padding-left: 100px;
    border-bottom: 1px solid #f8f9fa;
}

.features .feature {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    transition: all .1s;
}

.features .feature:hover {
    border-bottom: #3ab43a 2px solid;

}

.features .feature .icon i {
    font-size: 22px;
    color: #3ab43a;
    margin-right: 15px;
}

.features .feature .info h5 {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: normal;
}

.features .feature .info h6 {
    font-size: 14px;
    font-weight: normal;
}


/* ======================= 
         Catagories
========================= */

.categories-section {
    margin-bottom: 90px;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    position: relative;
}

.categories-section .categories-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
}

.categories-section .cata-sec-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: -20px;
}

.categories-section .cata-sec-heading .section-title {
    display: flex;
}

.categories-section .cata-sec-heading .section-title h2 {
    margin-right: 10px;
}

@media (max-width: 660px) {
    .categories-section .categories-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
}

.categories-section .categories-header .section-title {
    margin-left: -80px;
}

@media (max-width: 660px) {
    .categories-section .categories-header .section-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .categories-section .categories-header .section-title h2 {
        font-size: 20px;
    }
}

.categories-section .categories-header .section-title h6 {
    color: #3ab43a;
    font-size: 30px;
    font-weight: 400;
}

@media (max-width: 660px) {
    .categories-section .categories-header .section-title h6 {
        font-size: 20px;
        margin-left: 10px;
    }
}

.categories-section .categories-header a {
    background-color: #3ab43a;
    color: #fff;
    width: 200px;
    padding: 5px 30px;
    padding-right: 8px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    border-radius: 25px;
}

.categories-section .categories-header a i {
    background-color: #fff;
    color: #1f1f1f;
    padding: 10px;
    border-radius: 100%;
}

.categories .cata-sec-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .card-list .cata-sec-card {
    margin: 5px;
    width: 270px;
}

/* swiper */


.categories .cata {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.categories .cata .card-list .cata-card {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 300px;
    margin-bottom: 25px;
    position: relative;
    transition: all .3s;
}

.categories .cata .card-list .cata-card:active {
    cursor: grabbing;
}

.categories .cata div div:hover {
    transform: scale(1.1);
}

.categories .cata .card-list .vegetables {
    background-color: #dee1e4;
}

.categories .cata .card-list .drinks {
    background-color: #fac9d1;
}

.categories .cata .card-list .nuts {
    background-color: #c4e3ee;
}

.categories .cata .card-list .spices {
    background-color: beige;
}

.categories .cata .card-list .dairys {
    background-color: #bcf7bc;
}

.categories .cata div .fruits {
    background-color: #f3dfe3;
}

.categories .cata .card-list .cata-card img {
    width: 200px;
    height: 300px;
}

.categories .cata .card-list .cata-card h6 {
    font-size: 30px;
    margin-top: 0px;
}

.categories .cata .card-list .cata-card span {
    font-size: 16px;
}

.categories .cata .card-list .cata-card span {
    margin-bottom: 10px;
}

.categories .cata .card-list .cata-card a {
    color: #f8f9fa;
    background-color: #3ab43a;
    padding: 0px;
    border-radius: 100%;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -6%;
    visibility: hidden;
    transition: all .5s;
}

.categories .cata .card-list .cata-card:hover a {
    padding: 20px;
    height: 30px;
    width: 30px;
    visibility: visible;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #42be42;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #1f1f1f;
    margin-top: -35px;
    border: solid 1px #1f1f1f;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}



/* ======================= 
         services
========================= */

.services-section {
    margin-bottom: 100px;
}


.services-section .services {
    width: 100%;
}

.services-section .services .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section .services .service {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 360px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    transition: transform .5s;
}

.services-section .services .service:hover {
    transform: scale(1.02);
}

@media (max-width: 1000px) {
    .services-section .services .service {
        width: 420px;
        height: 220px;
    }
}

@media (max-width: 991px) {
    .services-section .services .service {
        width: 340px;
        height: auto;
    }
}


.services-section .services .service:first-child {
    background-color: #42be42;
}

.services-section .services .service:nth-child(2) {
    background-color: #70c770;
}

.services-section .services .service:nth-child(3) {
    background-color: #fd5d22;
}


.services-section .services .service .img {
    width: 150px;
    transform: translateY(20px);
}

@media (max-width: 1000px) {
    .services-section .services .service:first-child .img {
        width: 140px;
        transform: translateY(-13px);
    }
}

.services-section .services .service:nth-child(3) img {
    height: 200px;
}

.services-section .services .service .img img {
    width: 100%;
}

.services-section .services .service .service-content {
    width: 200px;
}

.services-section .services .service:nth-child(2) .service-content {
    width: 150px;
}

.services-section .services .service .service-content span {
    display: block;
    font-size: 13px;
    color: #ebecee;
}

.services-section .services .service .service-content h2 {
    color: #ebecee;
    line-height: 1.3;
    margin-top: 5px;
}

.services-section .services .service a {
    display: block;
    width: 50%;
    text-align: center;
    background-color: #fff;
    color: #1f1f1f;
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.services-section .services .service:nth-child(2) a {
    width: 60%;
}

/* ======================= 
         Best Selling
========================= */

.best-sell-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 90%;
    overflow: hidden;
}

.products-section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

@media (max-width: 445px) {
    .products-section-heading {
        justify-content: center;
        margin-bottom: 30px;
    }
}

.best-sell-section .slider-btns {
    display: flex;
}

@media (max-width: 445px) {
    .best-sell-section .slider-btns {
        display: none;
    }
}

.best-sell-section .slider-btns button {
    position: static !important;
    transform: translate(0, 0);
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 100%;
    font-size: 20px;
    opacity: 1;
    color: #1f1f1f;
}

.best-sell-section .slider-btns button.glider-next {
    background-color: #1f1f1f;
    color: #ffffff;
}

.product-box {
    max-width: 270px;
    border: 1px solid #dadada;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 0px 20px;
    position: relative;
}

.product-box .reat {
    /* background-color: rebeccapurple; */
    width: 100%;
    margin-bottom: 20px;
}

.product-box .reat span {
    background-color: #ec6b3c;
    color: #fff;
    padding: 0px 15px;
    font-size: 14px;
    border-top-right-radius: 15px;
    position: absolute;
    left: 0px;
    z-index: 11;
}

.product-box .reat i {
    float: right;
    font-size: 18px;
}

.product-box .img {
    width: 95%;
    height: 150px;
    margin: 40px auto 20px;
    /* background-color: #3ab43a; */
}

.product-box .img img {
    width: 100%;
    height: 100%;
}

.product-box .product-content span {
    display: inline-block;
    color: #444;
    font-weight: 500;
    font-size: 16px;
}

.product-box .product-content h3 {
    width: 95%;
    margin-top: 10px;
    font-size: 25px;
}

.product-box .product-content .price {
    color: #cc4b1c;
}

.product-box .product-content .price span {
    font-size: 12px;
}

.product-box .product-content .details {
    margin-top: 20px;
}

.product-box .product-content .details .add {
    width: 100px;
}

.product-box .product-content .details .add span {
    border: 1px solid #dadada;
    padding: 0px 10px;
    display: inline-block;
    margin-right: -5px;
    cursor: pointer;
}

.product-box .product-content .details i {
    float: right;
    color: #fff;
    background-color: #3ab43a;
    padding: 10px;
    font-size: 12px;
    border-radius: 100%;
    margin-top: -5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .3s linear;
}

.product-box .product-content .details i:hover {
    background-color: #2c8f2c;
    border-color: #1f1f1f;
    transform: scale(1.03);
}

.best-sell-section .dots .glider-dot.active {
    background-color: #2c8f2c;
}

/* ======================= 
         About
========================= */

.about {
    padding-bottom: 100px;
}

.about .img img {
    width: 100%;
    margin: auto;
}

.about .text {
    margin: auto;
}

.about .text span {
    font-size: 15px;
    color: #42be42;
}

.about .text h2 {
    margin-top: 10px;
}

.about .text p {
    color: #666;
    line-height: 1.5;
}

.about .text .btn {
    background-color: #3ab43a;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 487px) {
    .about .text .btn {
        width: 40%;
    }
}

@media (max-width: 380px) {
    .about .text .btn {
        width: 100%;
    }
}

.about .text .btn i {
    background-color: #fff;
    color: #1f1f1f;
    padding: 10px;
    border-radius: 100%;
    margin-right: -5px;
}

/* ======================= 
    Popular product
========================= */

.popular-section {
    background-color: #ebe9e9;
    padding-top: 100px;
    padding-bottom: 150px;
}

.popular-section .headng {
    text-align: center;
}

.popular-section .headng h2 span {
    color: #70c770;
}

.popular-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-section .popular-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

@media(max-width: 555px) {
    .popular-section .popular-menu {
        flex-direction: column;
    }
}

.popular-section .popular-menu li {
    padding: 5px 25px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s linear;
}

.popular-section .popular-menu li:hover {
    background-color: #1f1f1f;
    color: #fff;
}

.popular-section .popular-menu li.active {
    color: #fff;
    background-color: #1f1f1f;
}

.popular-section .products .product-box {
    width: 250px;
    margin: 10px;
    background-color: #fff;
}

.hide {
    display: none;
}

/* ======================= 
    progress
========================= */

.progress-section {
    background-image: url("../img/bg-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px 0px;
    position: relative;
}

.progress-section::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
}

.progress-section .prog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    z-index: 20;
}

.progress-section .prog .icon {
    font-size: 55px;
    color: #70c770;
    margin-right: 10px;
}

.progress-section .prog .info {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 10px;
}

.progress-section .prog .info span:first-child {
    font-size: 40px;
}

/* ======================= 
    customer
========================= */

.customer-section {
    background: url(/img/bg-6.png);
    background-size: 700px;
    background-position: 700px;
    background-repeat: no-repeat;
    height: 500px;
    padding: 50px;
    width: 100%;
    overflow: hidden;
}

.customer-section .heading {
    width: 100%;
    text-align: center;
    color: #1f1f1f;
    margin-bottom: 50px;
    /* background-color: #2c8f2c; */
}

.customer-section .card {
    max-width: 400px;
    margin: 0px 5px;
    padding: 15px 25px;
    border-bottom: 10px solid #2c8f2c;
    transition: all .3s linear;
}

.customer-section .card:hover {
    border-radius: 20px;
    transform: scale(1.02);
}

.customer-section .card span {
    font-size: 40px;
    color: #70c770;
}

.customer-section .card .icon {
    font-size: 15px;
    color: gold;
}

.customer-section .card p {
    color: #444;
    margin-top: 10px;
    font-size: 14px;
}

.customer-section .card .profile {
    display: flex;
}

.customer-section .card .profile .info h6 {
    margin-bottom: -10px;
}

.customer-section .card .profile .info span {
    font-size: 10px;
    margin-top: -10px;
    display: inline-block;
    color: #1f1f1f;
}

.glider-prev-2,
.glider-next-2 {
    border: 0;
    outline: 0;
    user-select: none;
    padding: 0;
    position: absolute;
    background: 0 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -23px;
    top: 30%;
    cursor: pointer;
    color: #666;
    opacity: 1;
    line-height: 1;
    transition: opacity .5 cubic-bezier(.17, .67, .83, .67), color .5s cubic-bezier(.17, .76, .83, .67);
}

.glider-prev-2:focus,
.glider-prev-2:hover,
.glider-next-2:focus,
.glider-next-2:hover {
    color: #ccc;
}

.glider-next-2 {
    right: -23px;
    left: auto;
}

.glider-next-2.disabled,
.glider-prev-2.disabled {
    opacity: .25;
    color: #666;
    cursor: default;
}

@media (max-width: 600px) {
    .glider-button-2 {
        display: none !important;
    }
}

.customer-section .dots-2 .glider-dot.active {
    background: #42be42 !important;
}

/* ======================= 
    Blogs
========================= */

.blogs-section {
    margin-bottom: 100px;
}

.blogs-section .blogs-heading {
    text-align: center;
    margin-bottom: 80px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.blogs-section .blog {
    width: 200px;
    margin-bottom: 120px;
    /*add Margin to make space where the text can shown without get hide by the overflow proprty of the graider*/
    margin-right: 15px;
    position: relative;
}

@media (max-width: 600px) {
    .blogs-section .blog {
        margin-bottom: 50px;
    }
}

.blogs-section .blog img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blogs-section .blog .text {
    background-color: #fff;
    border-radius: 10px;
    border: #1f1f1f solid 1px;
    width: 90%;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 65%;
    left: 5%;
}

@media (max-width: 991px) {
    .blogs-section .blog .text {
        width: 96%;
        left: 2%;
    }
}

.blogs-section .blog .text .blog-det {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.blogs-section .blog .text .blog-det .person i {
    color: #3ab43a;
    font-size: 15px;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .blogs-section .blog .text .blog-det .person i {
        font-size: 10px;
    }
}

.blogs-section .blog .text .blog-det .person span {
    color: #1f1f1f;
    font-size: 15px;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .blogs-section .blog .text .blog-det .person span {
        font-size: 10px;
    }
}

.blogs-section .blog .text .blog-det .date i {
    font-size: 15px;
    color: #42be42;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .blogs-section .blog .text .blog-det .date i {
        font-size: 10px;
    }
}

.blogs-section .blog .text .blog-det .date input {
    border: none;
    color: #1f1f1f;
}

@media (max-width: 767px) {
    .blogs-section .blog .text .blog-det .date input {
        font-size: 10px;
    }
}

.blogs-section .blog .text .title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    .blogs-section .blog .text .title {
        font-size: 14px;
    }
}

.blogs-section .blog .text .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /* padding-bottom: 0px; */
}

.blogs-section .blog .text .link a {
    color: #1f1f1f;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    /* justify-content: center; */
}

.blogs-section .blog .text .link a i {
    font-size: 15px;
    margin-top: 4px;
    margin-left: 6px;
}

.blogs-section .blog .text .link .comments {
    font-size: 14px;
}

.blogs-section .blog .text .link .comments i {
    color: #cc4b1c;
    margin-right: 5px;
    transition: all .3s linear;
}

.blogs-section .blog .text .link .comments i:hover {
    color: #f0784c;
}

.glider-prev-3,
.glider-next-3 {
    border: 1px solid #cfcfcf;
    border-radius: 100%;
    outline: 0;
    user-select: none;
    padding: 10px;
    position: absolute;
    background: 0 0;
    z-index: 2;
    font-size: 20px;
    text-decoration: none;
    left: -23px;
    top: 30%;
    cursor: pointer;
    color: #1f1f1f;
    opacity: 1;
    line-height: 1;
    transition: opacity .5 cubic-bezier(.17, .67, .83, .67), color .5s cubic-bezier(.17, .76, .83, .67);
}

.glider-next-3 {
    background-color: #1f1f1f;
    color: #fff;
}

.glider-prev-3:focus,
.glider-prev-3:hover,
.glider-next-3:focus,
.glider-next-3:hover {
    color: #ccc;
}

.glider-next-3 {
    right: -23px;
    left: auto;
}

.glider-next-3.disabled,
.glider-prev-3.disabled {
    opacity: .25;
    color: #666;
    cursor: default;
}

.dots-3 .glider-dot.active {
        background: #42be42 !important;
    
}

@media (max-width: 600px) {
    .glider-button-3 {
        display: none !important;
    }
}

/* ======================= 
         Cart 
========================= */

.cart-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.cart-section .cart-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.cart-section .cart-heading h2 {
    border-bottom: 2px dotted #1f1f1f;
    padding: 10px 0px;
    width: 30%;
}

.cart-section .cart-heading h2 span {
    color: #2c8f2c;
}

.cart-section .cart-products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-section .cart-products .cart-product {
    border: #666 1px solid;
    margin: 10px;
    padding: 10px;
    width: 270px;
    border-radius: 20px;
}

.cart-section .cart-products .cart-product .img {
    width: 60%;
    height: 150px;
    margin: 10px auto;
}

.cart-section .cart-products .cart-product .img img {
    width: 100%;
    height: 100%;
}

.cart-section .cart-products .cart-product .product-info .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-section .cart-products .cart-product .product-info .title h3 {
    font-size: 22px;
}

.cart-section .cart-products .cart-product .product-info .title span {
    color: #cc4b1c;
    font-size: 18px;
    display: inline-block;
    margin-top: -1px;
}


.cart-section .cart-products .cart-product .product-info .remove-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: #99999959 1px solid;
}

.cart-section .cart-products .cart-product .product-info .remove-add .remove {
    color: red;
    cursor: pointer;
}

.cart-section .cart-products .cart-product .product-info .remove-add .add {
    background-color: #3ab43a;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 10px;
}


/* ======================= 
         Footer
========================= */

footer {
    margin-bottom: 50px;
    margin-top: 50px;
}

footer .footer-section {
    background-color: #f7d4ef;
    padding: 50px;
    border-radius: 20px;
}

footer .footer-section .row div {
    padding: 10px;
    /* background-color: grey; */
    /* margin-right: 1px; */

}

footer .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

footer .navbar-brand img {
    width: 40px;
}

footer .navbar-brand h1 {
    width: 20px;
    font-size: 12px;
    color: #1f1f1f;
    flex-direction: column;
    margin-top: 10px;
}

footer .navbar-brand h1 span {
    color: #f1784c;
    font-size: 12px;
    display: block;
}

footer p {
    color: #444;
    font-size: 14px;
    width: 80%;
}

footer .social-icon {
    display: flex;
    margin-top: 20px;
}

footer .social-icon i {
    padding: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: #70c770;
    transition: all .5s ease;
}

footer .social-icon i:hover,
footer .social-icon i.active {
    background-color: #70c770;
    color: #fff;
}

footer h3 {
    font-size: 20px;
}

footer ul {
    margin-top: 20px;
    padding-left: 0px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #666;
}

footer .input-fild {
    width: 80%;
    border-bottom: 1px solid #1f1f1f;
}

@media (max-width:453px){
    footer .input-fild {
        width: 100%;
    }
}

@media (max-width:381px){
    footer .input-fild {
        text-align: center;
    }
}

footer .input-fild .fa-envelope {
    background-color: #3ab43a;
    font-size: 10px;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}


footer .input-fild input {
    border: none;
    background-color: transparent;
}

footer .input-fild .fa-arrow-right {
    color: #cc4b1c;
    font-size: 12px;
}

@media (max-width:410px){
    footer .input-fild .fa-arrow-right {
        display: none;
    }
}

footer .contact {
    margin-top: 20px;
    color: #666;
    line-height: 2;
} 